body {
    font-family: Verdana, Tahoma, sans-serif;
    color: #161925;
    background-color: #8EA8C3;
}

.mainPic {
    height: auto;
    width: 600px;
}

.picArray {
    /*put pic up and credits bellow*/
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}